
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    padding:0;
    margin:0;
    --primary-color: #111;
    --secondary-color: #fff;
    box-sizing: border-box;
    --height-header:70px;

}
body{
    font-family: 'Open Sans', sans-serif;
    height:100vh;
}
