@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: #2a2a72;
  --secondary-color: #4c2885;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color:#000;
}
.switch__box{
  display:flex;
  align-items: center;
  height:65px;
}
.label{
  margin:0 12px;
  height:100%;
  background-color: #aaa;
  min-width:100px;
  border-radius:65px;
  padding: 30px 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition:0.5s;

}
.ball{
  transition:0.5s;
  width:58px;
  height:58px;
  border-radius:50%;
  background-color: #fff;
  transform:translateX(-50%);
}
.switch__box.active .label{
  background-color:#4c2885;
}
.switch__box.active .ball{
  transform:translateX(50%);
}

