
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    padding:0;
    margin:0;
    --line-border-empty: #e0e0e0;
    --line-border-filled: #3498db;
    box-sizing: border-box;

}
/* html{
    box-sizing: border-box;
} */
body{
    background-color: #eafbff;
    background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden; 
    height:100vh;
    color: #fff;
}
#navigation{
    width: 350px;
    background-color: #fff;
    height:70px;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    overflow: hidden;
    padding:16px;
    transition:all 0.5s;
    transition: width 0.6s linear;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
#navigation.close{
    width:70px;
}
.listmenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    flex:1;
    transition: 1s;
}
.listmenu li a {
    text-decoration: none;
    color:#000;
    font-weight: bold;
    
}
.listmenu li {
    list-style: none;
    margin:0 8px;
    transition:all 0.6s linear;
}
.icon{
    border:0;
    width:50px;
    background-color:#fff;
    height:100%;
    position: relative;
}
.line{
    position: absolute;
    background-color:#5290f9;
    width: 27px;
    height: 3px;
    border-radius:5px;
    top:50%;
    left:50%;
    transition:all 0.6s linear;
}
.line.line1{
    transform: translate(-50%,-50%) rotate(45deg);
}
.line.line2{
    transform: translate(-50%,-50%) rotate(-45deg);
}

.close .line.line1{
    transform: translate(-50%,150%) rotate(-720deg);
    opacity:0.7;

}
.close .line.line2{
    transform: translate(-50%,-150%) rotate(720deg);
    opacity:0.7; 
}
.close .listmenu{
    transform: translate(300%) scale(0);
    width:0;
    flex:0;
}
.close .icon{
    flex:1;
}
.close .listmenu li{
    transform: rotateY(720deg);
}













/* nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color:#fff;
    width:80px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius:4px;
    transition: all 0.6s linear;
    box-sizing: border-box;
    transition: width 0.6s linear;
    overflow: hidden;
}
nav.active{
    width: 350px;
}



.listmenu{
    height:20px;
    list-style: none;
    display:flex;
    width:0;
    align-items: center;
    justify-content:flex-start;
    transition: width 0.6s ease-in;
}


.listmenu li{
    margin: 0 10px;
    transition: all 0.6s ease-in;
    transform:translateX(200px) rotateY(360deg) scale(0);
    width: 100%;
}
.list-item {
    text-decoration: none;
    color:#000;
}
#navigation.active .listmenu{
    width:100%;
}
#navigation.active li{
    opacity: 1;
    transform:translateX(0) rotateY(0) scale(1);


}
.icon{
    position: relative;
    border:0;
    background-color:transparent;
    height:30px;
    width:30px;
    cursor: pointer;
    box-sizing: border-box;
}
.icon:hover{
    opacity: 0.2;
}
.line{
    position: absolute;
    height:2px;
    width:20px;
    background-color:#5290f9;
    transition: transform 0.6s linear;
    top: 15px;
    right: -5px;
}
.line1{
    transform:rotate(360deg) translateY(5px) translateX(-10px);
    opacity:0.7;
}
.line2{
    transform:rotate(-360deg) translateY(-5px) translateX(-10px);
    opacity:0.7;
}
#navigation.active .line1{
    transform:rotate(-765deg);
}
#navigation.active .line2{
    transform:rotate(765deg);
} */
