@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  font-family: 'Roboto', sans-serif;

  position: relative;
  color:#000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:100vh;
}
.background{
  background-image:url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  filter:blur(20px);
  position:absolute;
  top:-20px;
  right:-20px;
  left:-20px;
  bottom:-20px;
  z-index: -1;
}
.container{
  width:450px;
  background-color: #fff;
  border-radius:5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:40px;
}
.container h2{
  font-size:30px;
  font-weight: 400;
  margin-bottom:8px;
}
.container p{
  font-size:14px;
  color:rgba(0,0,0,0.7);
}
.container .my-input{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width:100%;
}
.container .my-input label{
  margin-bottom: 10px;
}
.container .my-input input{
  padding: 10px;
  width:100%;
  border:1px solid #ddd;
  border-radius:5px;
 
}
.container button{
  width:100%;
  padding:12px;
  background-color:#000;
  color:#fff;
  border:0;
  border-radius: 5px;
}
input::-webkit-input-placeholder{
  color: #bbb ;
  }
